* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button:focus,
button:hover {
    color: #00494d;
    background-color: #C5E4E7;
}

input:focus {
    border: 2px solid #26c0ab;
}

.container {
    background-color: #C5E4E7;
}

.splitter {
    color: #5e7a7d;
    width: max-content;
    padding: 2em 0 2em 1em;
    margin: auto;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 1rem;
    text-transform: uppercase;
    text-align: justify;
}

.tipsApp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 2.3em);
    gap: 10px 10px;

    background-color: #fff;
    border-radius: 20px;
    width: 100vw;
    padding: 1.3em;
    box-sizing: border-box;
}

.bill {
    grid-column: 1 / 3;

    margin-top: 13px;
    color: #5e7a7d;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.accountAmount {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #f4fafa;
    color: #5e7a7d;
    font-size: 1em;
    font-weight: 700;
    padding-right: 5px;
    text-align: right;
    border: none;
    border-radius: 5px;
}

.selectTip {
    margin: 15px 10px 5px 0px;
    color: #5e7a7d;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.percentage5,
.percentage10,
.percentage15,
.percentage25,
.percentage50 {
    font-weight: 700;
    background-color: #00494d;
    color: #f4fafa;
    border: none;
    font-size: 1.3rem;
    border-radius: 5px;
}

.percentage5 {
    grid-column: 1/2;
    grid-row: 4 /5;
}

.percentage10 {
    grid-column: 2/3;
    grid-row: 4 /5;
}

.percentage15 {
    grid-column: 1/2;
    grid-row: 5 /6;
}

.percentage25 {
    grid-column: 2/3;
    grid-row: 5 /6;
}

.percentage50 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.Custom {
    grid-column: 2/3;
    grid-row: 6 /7;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #f4fafa;
    color: #00494d;
    border: none;
    border-radius: 5px;
    text-align: center;
    width: 100%;
}

.numberOfPeopleTitle {
    margin: 15px 10px 5px 0px;
    color: #5e7a7d;
    font-size: 1em;
    font-weight: 700;
    grid-column: 1/3;
    grid-row: 7/8;
}

.numberOfPeople {
    grid-column: 1/3;
    color: #00494d;
    background-color: #f4fafa;
    border: none;
    border-radius: 5px;
    text-align: right;
    padding-right: 5px;
}

.numberOfPeople:invalid {
    border: 1px solid orangered;
}

.total {
    background-color: #00494d;
    grid-column: 1/3;
    grid-row: 9/13;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.tipAmount,
.totalPerson {
    color: #f4fafa;
    font-family: monospace;
}

.person {
    color: #5e7a7d;
    margin-bottom: 1em;
}

.pricePerson,
.priceTotal {
    color: #26c0ab;
    font-size: 1.8em;
    letter-spacing: 2px;
}

.pricePerson {
    position: absolute;
    right: 1em;
    top: .5em;
}

.priceTotal {
    top: 2.4em;
    right: 1em;
    position: absolute;
}

.reset {
    background-color: rgb(38, 192, 171);
    color: #00494d;
    text-transform: uppercase;
    font-weight: 700;
    font-family: monospace;
    width: 100%;
    padding: .5em;
    margin: 0 auto;
    border: none;
    border-radius: 3px;
}